* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

body, p {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #BF55EC;
}

a:hover {
    color: #000;
}

.row {
    display: flex;
}

.row__column {
    margin-right: 24px;
}

.row__column:last-child {
    margin-right: 0;
}

.row__column--align-center {
    text-align: center;
}

.row__column--align-middle {
    align-self: center;
}

.wrapper {
    margin: 96px auto;
    width: 90%;
    max-width: 720px;
}

.blog__posts {
    list-style: none;
}

.posts__post {
    margin-top: 48px;
}

.post__back {
    color: #BF55EC;
    text-decoration: none;
    margin-bottom: 48px;
    display: block;
}

.post__rating {
    display: flex;
    align-items: center;
}

.rating__net {
    display: inline;
    margin: 0 8px;
}

.post__title {
    color: #222;
}

.post__body {
    margin-top: 24px;
    line-height: 200%;
    color: #555;
}

.post__date {
    margin-top: 48px;
    color: #777;
}

.post__continue {
    display: block;
    margin-top: 24px;
    text-decoration: none;
    color: #BF55EC;
}
