* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Muli;
}

h1 {
    font-size: 48px;
}

body, p {
    font-size: 18px;
}

a {
    color: #F55555;
    text-decoration: none;
}

a:hover {
    color: #000;
}

.body {
    margin: 72px auto;
    width: 90%;
    max-width: 720px;
}

.posts {
    list-style: none;
}

.posts li {
    margin-top: 72px;
}

.post__body {
    line-height: 200%;
}

.post__body p {
    margin-top: 16px;
}

.post__datestamp {
    color: #999;
}

.post__continue {
    display: inline-block;
}

.spacing__top-regular {
    margin-top: 32px;
}

.spacing__bottom-regular {
    margin-bottom: 32px;
}
