* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Nunito;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

body, p {
    font-size: 18px;
}

.wrapper {
    margin: 96px auto;
    width: 90%;
    max-width: 720px;
}

.blog__posts {
    list-style: none;
}

.posts__post {
    margin-top: 48px;
}

.post__back {
    color: #BF55EC;
    text-decoration: none;
    margin-bottom: 48px;
    display: block;
}

.post__title {
    margin-bottom: 24px;
    color: #222;
}

.post__body {
    line-height: 200%;
    color: #555;
}

.post__date {
    margin-top: 48px;
    color: #777;
}

.post__continue {
    display: block;
    margin-top: 24px;
    text-decoration: none;
    color: #BF55EC;
}
