/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

// Typography
* {
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, a {
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat;
}

h1, h2 {
    line-height: 160%;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

body {
    font-family: Muli;
    color: #555;
}

// Spacing
.spacing-bottom-small {
    margin-bottom: 16px;
}

.spacing-bottom-medium {
    margin-bottom: 32px;
}

// Text Modifiers
.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

// Others
$border-color: #EEE;

.navigation {
    border-bottom: 1px solid $border-color;

    .wrapper {
        margin: 32px auto;
    }
}

.row {
    display: flex;

    .column {
        flex: 1;

        &.tight {
            flex: none;
        }

        &.gutter-right {
            margin-right: 16px;
        }
    }
}

.seperator {
    margin: 48px 0;
    width: 100%;
    height: 1px;
    background: $border-color;
}

.wrapper {
    margin: 48px auto;
    width: 90%;
    max-width: 960px;
}

ul.posts {
    list-style: none;
    margin: -48px 0;

    li {
        padding: 48px 0;
        border-bottom: 1px solid $border-color;

        &:last-child {
            border-bottom: none;
        }
    }
}

.body {
    line-height: 200%;
}

button, .button {
    padding: 12px 24px;
    background: #25CE87;
    color: #FFF;
    border-radius: 4px;
}

.button {
    display: inline-block;
}

button {
    border: none;

    &:hover {
        cursor: pointer;
    }
}

button, input, textarea {
    font: inherit;
}

label {
    display: block;
    margin-bottom: 16px;
}

input, textarea {
    margin-bottom: 32px;

    display: block;
    padding: 12px;
    width: 100%;
    border: 1px solid $border-color;
    border-radius: 4px;

    &:focus {
        outline: 0;
        border-color: #25CE87;
    }
}

textarea {
    resize: vertical;
    height: 240px;
}
